<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <variable name="timestamp" value="${date:universalTime=True:format=yyyy-MM-dd HH\:mm\:ss.fff zzz}" />
    <variable name="logMessage" value="${trim-whitespace:${message}${newline}${exception:format=toString}}" />

    <targets>
        <target name="console" xsi:type="Console"
                layout="${timestamp} [${level:uppercase=true}][${activityid}] ${logger}: ${logMessage}" />
    
        <target name="blackhole" xsi:type="Null" />
    </targets>

    <rules>
        <logger name="Microsoft.Hosting.Lifetime" level="Info" writeTo="console" final="true" />
        <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
        
        <logger name="*" minlevel="Info" writeTo="console" />
    </rules>
</nlog>